<!DOCTYPE html>
html
	head
		link(href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400,700" rel="stylesheet")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Home
		style
			include ../public/scss/site.css
	body
		div.content
			//navbar
			nav.collapse(id="navbar" v-on:click="toggleNav")
				h1(id="navHeader") PROJECT | 
					span(v-html="page")
				ul
					li#section1Btn(v-on:click="scrollTo")
						a#section1Btn Home
					
					li(v-on:click="showModal")
						a Log In
					li(v-on:click="signOut")
						a Log Out
				div.navCollapseToggleBtn
					i.material-icons menu
			//section 1 - HOME
			div.section(id="section1")
				h2(id="userWelcome") {{ user.name ? "Welcome, " + user.name : "Please log in."}}
				hr
				
			//login modal
			div.modal(id="modal")
				div.login
					h2 Log In
					input#email(v-model="email" placeholder="Email")
					input#pass(v-model="pass" placeholder="Password" type="password")
					p#warning {{warning}}
					div.btnGreen.signInBtn(v-on:click="signIn") Sign In
					div.btnBlue.signUpBtn(v-on:click="signUp") Sign Up
				div.close(v-on:click="closeModal")
					i.material-icons close
			
			//loading splash screen
			div.splashScreen
				div(style="flex: 0 1 auto; text-align:center;padding-top: 10vw;")
					div.loader
					h4 Loading

		//firebase
		script(src="https://www.gstatic.com/firebasejs/3.7.6/firebase.js")
		//vue
		script(src="../public/js/vue.js")  
		// DEVELOPMENT ^
		//script(src="../public/js/vue.min.js") 
		// PRODUCTION ^
		script(src="../public/js/site.js")
